.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login__form{
    width: 50%;
    margin: 1rem auto;
}

.login__form h1 {
    text-align: center;
}

.login__form__inputs{
    margin: 1rem auto;
}



.login__register{
    text-align: center;
    margin: 2rem auto;
}

@media (max-width :768px ) {
    
    .login__form{
        width: 80%;
    }
}