.signup__container{
    padding: 2rem 0rem;
}

.signup__container h1{
    text-align: center;
}

.signup__form{
    width: 50%;
    margin: 0px auto;
}


@media (max-width : 768px) {
    .signup__form{
        width: 90%;
    }
}